.container {
    color:  #282C34;
    display: grid;
    grid-template-columns: 300px auto;
    //grid-gap: 20px;
}

h1 {
    font-size: 1.8rem;
}

.filter {
    border-right: 1px solid #282C34;
    padding-right: 10px;

    select {
        font-size: 1rem;
    }
}

.book-table {
    width: 70%;

    tbody > tr > td:first-child {
        width: 10%;
    }
    tbody > tr > td:nth-child(2) {
        width: 400px;
    }
}

.book {
    border-bottom: 1px solid #282C34;
    padding: 5px;
    margin: 0;
    
    img {
        cursor: pointer;
        width: 40px;
    }
}

.book-title {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .container{
        grid-template-columns: unset;
        grid-template-rows: 1fr auto;
    }

    .filter {
        border-right:none;
        padding-right: 0;
    }

    .book-table {
        width: 100%;
    }
}
