.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}

h1 {
    font-size: 1.8rem;
}

.col-label {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: right;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-input {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text]{
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

fieldset{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

textarea {
    height: 200px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}


@media screen and (max-width: 600px) {
    .col-label {
        text-align: left;
    }

    .col-label,
    .col-input{
        width: 100%;
        margin-top: 0;
    }
}