:root {
    --color-primary: #138d75;
    --color-secondary: #16a085;
    --color-tertiary: #a2d9ce;
    --font-color: #282C34;
    --border-color-default:#0b5345;
    --background-header:#117a65;

}
body {
   margin: 0 24px 24px 24px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #f2f2f2;
    color: var(--font-color);
}

