.App {
    min-height: 100vh;
    padding: 10px;
}

.App-main {
    display: flex;
}

h1 {
    font-size: 1.8rem;
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
