.App {
    color:  #282C34;
    min-height: 100vh;
    padding: 10px;
}

.App-main {
    display: flex;
}

h1 {
    font-size: 1.8rem;
}

.buttons-container {
    border: 1px solid red;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.button-link {
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 10px;
    text-decoration:none;
    margin: 0;
}